<ion-view ng-controller="LoginController">
    <ion-header-bar align-title="center" class="bar-dark">
        <div class="title">Core Members</div>
          <button class="button button-icon button-clear ion-home"  align = "left" ui-sref="login">
        
	   	</button>
    </ion-header-bar>

    <ion-content>
        <div class="list card">
      <div class="item">
        <h2>Osama Fuzail</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Osama.jpg">
      </div>
      <div class="item item-body">
        <p>
          President.
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Aafaq Mateen</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Mateen.jpg">
      </div>
      <div class="item item-body">
        <p>
          Founder.
        </p>
       </div>
    </div>
  
  <div class="list card">
      <div class="item">
        <h2>Mohammed Kareem</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Imtiyaz.jpg">
      </div>
      <div class="item item-body">
        <p>
          Treasurer.
        </p>
        
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Farooq Hussain</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Farooq.jpg">
      </div>
      <div class="item item-body">
        <p>
          Ex President
        </p>
        
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Shakeer Khaja</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Shakeer.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Majid salahuddin</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Majid.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Gulam Ghouse Khan</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Ghouse.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Mohammed Mazhar</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Mazher.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
        
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Syed Zafar</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Zafar.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
        
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Mohammed Arif</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Arif.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Mohammed Sohail</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Sohail.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
        
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Adil Wajahat</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Adil.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Himayat Ali Khan</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Sajid.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Waheed Khan</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Waheed.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Syed Abdul Nadeem</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/Nadeem.jpg">
      </div>
      <div class="item item-body">
        <p>
          Member.
        </p>
       
      </div>
    </div>

 
    </ion-content>
</ion-view>        