<ion-view ng-controller="LoginController">
    <ion-header-bar align-title="center" class="bar-dark">
        <div class="title">Welcome to DCI</div>
    </ion-header-bar>

    <ion-content>
   <!--     <div class="list">
             <div class="item item-input padding">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter your name..." ng-model="nickname"/>
                </label>
                <button class="button button-small button-dark icon icon-right ion-log-in" ng-click="join(nickname)">Login</button>
            </div>
            </div>  -->
            <br/>    

            <div class = "row">
           <div class = "col col-45 button box icon-left ion-folder button-block" style= " background-color: #7e0404; color: #FFF;   !important" ng-click="projects()">Projects</div>
           <div class = "col col-45 col-offset-10 button box icon-left ion-android-people button-block" style= " background-color: #2b7b3d; color: #FFF;   !important" ng-click="coremembers()">Core Members</div>
           </div>
           <br/>
          <div class = "row">
           <div class = "col col-45 button box icon-left ion-android-list button-block" style= " background-color: #845656; color: #FFF;   !important" ng-click="accounts()">Accounts</div>
           <div class = "col col-45 col-offset-10 button box icon-left ion-calendar button-block" style= " background-color: #381938; color: #FFF;   !important" ng-click="events()">Events</div>
           </div>

            </br>        
            <center>    
            <button class="button icon-left ion-social-facebook button-block" style= " background-color: #3b5998; color: #FFF; border: none; width: 95% !important" ng-click="loginWithFacebook()">
            Login with facebook</button>
            </center>

    </ion-content>
</ion-view>        